<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th></th>
				<th>Volunteer</th>
				<th>Assign</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="member in _.task.volunteers">
				<td>{{$index}}</td>
				<td>
					<img class="img-circle" ng-src="data:image/JPEG;base64,{{member.identicon}}">
				</td>
				<td>{{member.address}}</td>
				<td ng-if="task.info.status == 'CREATED'">
					<button type="button" class="btn btn-success" ng-click="_.assignTask(_.task,member)">
						Assign
					</button>
				</td>
				
	
			</tr>
			
		</tbody>
	</table>
</div>