<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

	<!-- Bootstrap core CSS -->
    <link href="/assets/js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="app.js"></script>
  </head>

  <body ng-app="app" ng-controller="TaskCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Task Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" onclick="myfunction1()" href="#">Admin</a>
              <script>
              function myfunction1()
              {
                document.getElementById('a1').style.visibility="hidden";
                document.getElementById('leave').style.visibility="hidden"
                document.getElementById('v1').style.visibility="visible"
              }
          </script>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="myfunction2()" href="#">Manager</a>
              <script>
                function myfunction2()
                {
                  document.getElementById('a1').style.visibility="hidden";
                  document.getElementById('v1').style.visibility="hidden";
                  document.getElementById('leave').style.visibility="visible"

                }
              </script>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="myfunction3()" href="#">Labourers</a>
              <script>
                function myfunction3()
                {
                  document.getElementById('v1').style.visibility="hidden"
                  document.getElementById('leave').style.visibility="hidden"
                  document.getElementById('a1').style.visibility="visible"
                }
              </script>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shareholders</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h1 class="my-4">Task name</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Task 1</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="img/helloagro.jpg" alt="Agriculture">
            <div class="card-body">
              <h3 class="card-title">Task 1 Value </h3>
              <h4>2.49</h4>
              <button type="button" id='a1' class="btn btn-primary">Accept</button>
              <button type="button" id='v1' class="btn btn-primary" ng-click="verifyTask()">Verify</button>
            </div>
          </div>
          <!-- /.card -->
          

          <div class="card card-outline-secondary my-4" >
            <div class="card-header">
              Task Details
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Manager1 on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Manager2 on 3/1/17</small>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
              <small class="text-muted">Posted by Manager3 on 3/1/17</small>
              <hr>
              <a href="#" id='leave' class="btn btn-success" ng-click="showForm()">Put a task </a>
            </div>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      

    </div>
    <!-- /.container -->
  
         
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Team Jugaad</p>
      </div>
      <!-- /.container -->
    </footer>

    <div ng-include="'modal-form.html'"></div>
  </body>

</html>
